
$enable-rounded: false;

$primary: #ee7725;
$info: #009ce3;
$warning: #ffc870;

$input-group-addon-bg: #e6e6e6;
$input-border-color: #d8d8d8;
$input-color: #767676;

$input-btn-focus-width: 0.1rem;
$input-focus-border-color: $primary;
$input-btn-focus-color: rgba($primary, .4) !default;

$alert-bg-level: -10.5;
$alert-border-level: 0;
$alert-color-level: 6;

$body-bg: #fafafa;
$body-fg: #484848;

$font-family-sans-serif: 'OpenSans','Helvetica Neue',Helvetica,Arial,sans-serif;

$custom-control-indicator-size: 1.5rem;
